
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Enso";
  src: url("//db.onlinewebfonts.com/t/92b14b4ae158b88f71b0bcff1b4a64d2.eot");
  src: url("//db.onlinewebfonts.com/t/92b14b4ae158b88f71b0bcff1b4a64d2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/92b14b4ae158b88f71b0bcff1b4a64d2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/92b14b4ae158b88f71b0bcff1b4a64d2.woff") format("woff"), url("//db.onlinewebfonts.com/t/92b14b4ae158b88f71b0bcff1b4a64d2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/92b14b4ae158b88f71b0bcff1b4a64d2.svg#Enso") format("svg");
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

a, p {
  font-family: Montserrat;
}

@media only screen and (max-width: 425px) {
    .display-4{
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
    }
    .h4, h4 {
        font-size: 1.0rem;
    }
  }

@media only screen and (max-width: 375px) {
    .display-4{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2;
    }
    .h4, h4 {
        font-size: 1.0rem;
    }
  }